@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.home{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

header a{
  text-decoration: none;
  color: black;
}
.nav-sobre-mi{
  text-decoration: underline;
  font-size: 1rem;
}
.nav-sobre-mi:hover{
  color: #47cfac;
}

header{
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 60px 80px;
}

header nav{
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0 60px;
}

.logo-nav{
  display: inline-block;
}

.logo-nav img{
  width: 200px;
  
}
.logo-nav:hover{
  position: relative;
  top: -3px;
}


.link-about{
  justify-self: end;
}

.container-icons{
  background-color: #47cfac;
  display: flex;
  width: 100%;
  justify-content: end;
}
.icons{
  display: flex;
  align-items: center; 
  padding: 0 50px;
}

.icon{
  margin: 0 10px;
}
.icon:hover{
  position: relative;
  top: -3px;
}

.icons span{
  color: white;
}

.main-home{
  height: 100%;
  background-image: url('../assets/img/Cover.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title{
  color: white;
  margin-bottom: 110px;
  font-size: 1.4rem;
  letter-spacing: 10px;
}

.container-main{
  display: flex;
  flex-direction: column;  
  align-items: center;
  margin-top: 10%;
}

.main-button{
  padding: 10px;
  font-size: .8rem;
  border: 1px solid white;
  background-color: #47cfac;
  font-weight: bold;
  width: fit-content;
  text-decoration: none;
  color: black;
}

/* blogs */


.blogs-noticias{
  display: grid;
  grid-template-columns: 1.2fr .8fr;
  background-color: rgb(207, 207, 207);
  padding-top: 30px;
  padding-bottom: 70px;
}

.noticias-left {
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.noticias-left{
  width: 80%;
}

.noticias-left h2{
  font-size: 1.5rem;
}

.noticias-left img{
  width: 100%;
  border-radius: 5px;
}

.noticias-right{
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  width: 80%;
  margin-left: 20px;
}
.noticias-right h2{
  font-size: 1.5rem;
  font-weight: bold;
}
.noticias-right p{
  width: 90%;
  font-size: 1rem;
  font-weight: 500;
}
.leer-mas{
  width: fit-content;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #41c052;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: .8rem;
}
.leer-mas:hover{
  box-shadow: 0 0 10px rgb(153, 153, 153);
  background-color: #41c052;
  color: #fff;
  transition: .2s;
}


.container-blogs{
  width: 90%;
  margin: 0 auto;
}
.container-blogs h2{
  text-align: center;
  font-size: 1.5rem;
  padding: 20px;
  border-bottom: 1px solid  rgb(207, 207, 207);
}
.blogposts{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  margin: 30px auto;
  gap: 50px 20px;
}

.card-post{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card-post img{
  width: 100%;
  border-radius: 5px;
}
.card-post h3{
  font-size: 1.2rem;
}
.card-post p{
  font-weight: 500;
  font-size: .9rem;
}

footer{
  width: 100%;
}

footer section {
  background-color: #333;
  border-top: 35px solid #47cfac;
  height: 100px;
  display: grid;
  place-content: center;
}
footer section h3{  
  color: rgb(185, 185, 185);
  font-size: 1.2rem;
}

.blog-container-img{
  width: 100%;
  display: flex;
}

.blog-container-img img{
  width: 95%;
  margin: 0 auto;
  border-radius: 5px;
}

.blog-text-container{
  width: 100%;
}

.blog-container{
  width: 80%;
  margin: 50px auto;
}

.blog-text-container h2{
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(196, 191, 191);
}

.blog-text-container h1{
  font-size: 2rem;
  margin: 30px 0;
}

.blog-text-container p{
  font-size: .9rem;
  font-weight: 500;
  color: #333;
}

.section-contacto{
  width: 100%;
  height: 250px;
  background-color: rgb(207, 207, 207);
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.container-contacto{
  display: flex;
  align-items: center;
}

.logo-contacto{
  width: 90px;
  height: 90px;
}

.contacto-info{
  font-size: .8rem;
  font-weight: 500;
  margin-left: 5px;
}

.contacto-info a{
  display: inline-block;
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #333;
  padding: 5px 0;
  margin-bottom: 10px;
}

.contacto-info p{
  color: #333;
}

.blogs-perfil{
  display: grid;
  grid-template-columns: .8fr 1.2fr;
  background-color: rgb(207, 207, 207);
  padding: 30px 70px;
  align-items: center;
}
.proyectos{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  margin: 30px auto;
  margin-bottom: 70px;
  gap: 50px 20px;
}

.container-proyectos{
  width: 90%;
  margin: 0 auto;
}

.container-proyectos h2{
  text-align: center;
  font-size: 1.3rem;
  padding: 40px 0;
  border-bottom: 1px solid  rgb(207, 207, 207);
}

.perfil-right{
  width: 100%;
}